- var svgSpriteMono = 'img/sprite-mono.svg'
- var svgSpriteColor = 'img/sprite-color.svg'

mixin svgMono(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico ico-mono-" + name + modClass)
    use(xlink:href= svgSpriteMono + '#ico-mono-' + name)

mixin svgColor(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico ico-color-" + name + modClass)
    use(xlink:href= svgSpriteColor + '#ico-color-' + name)

mixin checkbox(modClass, text, checked)
  label(class="checkbox " + modClass)
    input(type="checkbox" class="checkbox__input" checked=checked)
    div(class="checkbox__inner")
      div(class="checkbox__custom")
        .checkbox__icon
          +svgMono('checkbox')
      div(class="checkbox__text")= text

mixin input(modClass="", placeholder="", type="text", $required, name="")
  div(class="input input--default " + modClass)
    label(class="input__placeholder")= placeholder
    if $required == "true"
      input(class="input__input", type=type, required, name=name)
    else
      input(class="input__input", type=type, name=name)

mixin inputWithBtn(modClass="", placeholder="", type="text")
  div(class="input input--with-button " + modClass)
    input.input__input(type=type, placeholder=placeholder)
    button.input__button
      +svgMono("arrow4", "input__button-icon")

mixin social(modClass="")
  div(class="social " + modClass)
    a.social__link(href="#", title="")
      +svgMono("facebook", "social__icon social__icon--facebook")
    a.social__link(href="#", title="")
      +svgMono("instagram", "social__icon social__icon--instagram")
    a.social__link(href="#", title="")
      +svgMono("twitter", "social__icon social__icon--twitter")
    a.social__link(href="#", title="")
      +svgMono("vk", "social__icon social__icon--vk")
